In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/aniruddhachoudhury/Red-Wine-Quality/master/winequality-red.csv')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [2]:
data.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [3]:
data.quality.unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [4]:
data['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
quality,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [7]:
X = data.drop('quality',axis = 1)
y = data['quality']

In [8]:
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [9]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [11]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
548,12.4,0.350,0.49,2.6,0.079,27.0,69.0,0.99940,3.12,0.75,10.4
355,6.7,0.750,0.01,2.4,0.078,17.0,32.0,0.99550,3.55,0.61,12.8
1296,6.6,0.630,0.00,4.3,0.093,51.0,77.5,0.99558,3.20,0.45,9.5
209,11.0,0.300,0.58,2.1,0.054,7.0,19.0,0.99800,3.31,0.88,10.5
140,8.4,0.745,0.11,1.9,0.090,16.0,63.0,0.99650,3.19,0.82,9.6
...,...,...,...,...,...,...,...,...,...,...,...
1130,9.1,0.600,0.00,1.9,0.058,5.0,10.0,0.99770,3.18,0.63,10.4
1294,8.2,0.635,0.10,2.1,0.073,25.0,60.0,0.99638,3.29,0.75,10.9
860,7.2,0.620,0.06,2.7,0.077,15.0,85.0,0.99746,3.51,0.54,9.5
1459,7.9,0.200,0.35,1.7,0.054,7.0,15.0,0.99458,3.32,0.80,11.9
1126,5.8,0.290,0.26,1.7,0.063,3.0,11.0,0.99150,3.39,0.54,13.5

In [12]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
803,7.7,0.56,0.08,2.50,0.114,14.0,46.0,0.99710,3.24,0.66,9.6
124,7.8,0.50,0.17,1.60,0.082,21.0,102.0,0.99600,3.39,0.48,9.5
350,10.7,0.67,0.22,2.70,0.107,17.0,34.0,1.00040,3.28,0.98,9.9
682,8.5,0.46,0.31,2.25,0.078,32.0,58.0,0.99800,3.33,0.54,9.8
1326,6.7,0.46,0.24,1.70,0.077,18.0,34.0,0.99480,3.39,0.60,10.6
...,...,...,...,...,...,...,...,...,...,...,...
813,6.9,0.39,0.24,2.10,0.102,4.0,7.0,0.99462,3.44,0.58,11.4
377,9.4,0.27,0.53,2.40,0.074,6.0,18.0,0.99620,3.20,1.13,12.0
898,8.3,0.31,0.39,2.40,0.078,17.0,43.0,0.99444,3.31,0.77,12.5
126,8.2,1.33,0.00,1.70,0.081,3.0,12.0,0.99640,3.53,0.49,10.9
819,9.1,0.66,0.15,3.20,0.097,9.0,59.0,0.99976,3.28,0.54,9.6

In [13]:
y_train

548     6
355     6
1296    5
209     7
140     5
       ..
1130    6
1294    6
860     5
1459    7
1126    6
Name: quality, Length: 1071, dtype: int64

In [14]:
y_test

803     6
124     5
350     6
682     5
1326    6
       ..
813     4
377     7
898     7
126     5
819     5
Name: quality, Length: 528, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [16]:
scaler.fit(X_train)
X_train_tf = scaler.transform(X_train)
X_train_tf

array([[ 2.40069523, -1.03103722,  1.12742595, ..., -1.26096312,
         0.52726134, -0.01431863],
       [-0.93967131,  1.22920403, -1.32502245, ...,  1.52622836,
        -0.28225704,  2.24363201],
       [-0.99827424,  0.55113165, -1.37611513, ..., -0.74241587,
        -1.20742091, -0.86105011],
       ...,
       [-0.6466567 ,  0.49462562, -1.06955908, ...,  1.26695473,
        -0.68701624, -0.86105011],
       [-0.23643625, -1.87862768,  0.4121285 , ...,  0.03540501,
         0.81637505,  1.39690052],
       [-1.46709761, -1.3700734 , -0.04770558, ...,  0.48913386,
        -0.68701624,  2.90220094]])

In [17]:
from sklearn.svm import SVC

In [18]:
model_svc = SVC()
model_svc

SVC()

In [19]:
model_svc.fit(X_train_tf,y_train)

SVC()

In [20]:
model_svc.score(X_train_tf,y_train)

0.6778711484593838

In [21]:
X_test_tf = scaler.transform(X_test)
X_test_tf

array([[-3.53642095e-01,  1.55589436e-01, -9.67373729e-01, ...,
        -4.83142240e-01,  6.85666499e-03, -7.66968836e-01],
       [-2.95039173e-01, -1.83446751e-01, -5.07539654e-01, ...,
         4.89133857e-01, -1.03395269e+00, -8.61050113e-01],
       [ 1.40444556e+00,  7.77155778e-01, -2.52076279e-01, ...,
        -2.23868614e-01,  1.85718440e+00, -4.84725007e-01],
       ...,
       [-2.02456406e-03, -1.25706134e+00,  6.16499196e-01, ...,
        -2.94133945e-02,  6.42906824e-01,  1.96138818e+00],
       [-6.06274859e-02,  4.50655383e+00, -1.37611513e+00, ...,
         1.39659155e+00, -9.76129945e-01,  4.56087756e-01],
       [ 4.66798811e-01,  7.20649747e-01, -6.09725004e-01, ...,
        -2.23868614e-01, -6.87016236e-01, -7.66968836e-01]])

In [22]:
predict_svm = model_svc.predict(X_test_tf)

In [23]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,predict_svm)

0.5984848484848485

### Single value Prediction

In [24]:
X_test_tf[0]

array([-0.3536421 ,  0.15558944, -0.96737373, -0.03334372,  0.55556956,
       -0.18596079, -0.02314512,  0.1740298 , -0.48314224,  0.00685666,
       -0.76696884])

In [25]:
model_svc.predict([[-0.3536421 ,  0.15558944, -0.96737373, -0.03334372,  0.55556956,
       -0.18596079, -0.02314512,  0.1740298 , -0.48314224,  0.00685666,
       -0.76696884]])

array([5], dtype=int64)

## Improving Accuracy using GridsearchCv  (HyperParameter tuning)

In [26]:
X_train_std = scaler.transform(X_train)

In [27]:

from sklearn.model_selection import GridSearchCV
  
# defining parameter range
param_grid = {'kernel':('linear', 'rbf'), 'C': [1, 10, 100]}


  
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3)
  
# fitting the model for grid search
grid.fit(X_train_std, y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV 1/5] END ................C=1, kernel=linear;, score=0.549 total time=   0.0s
[CV 2/5] END ................C=1, kernel=linear;, score=0.584 total time=   0.0s
[CV 3/5] END ................C=1, kernel=linear;, score=0.565 total time=   0.0s
[CV 4/5] END ................C=1, kernel=linear;, score=0.598 total time=   0.0s
[CV 5/5] END ................C=1, kernel=linear;, score=0.664 total time=   0.0s
[CV 1/5] END ...................C=1, kernel=rbf;, score=0.563 total time=   0.0s
[CV 2/5] END ...................C=1, kernel=rbf;, score=0.612 total time=   0.0s
[CV 3/5] END ...................C=1, kernel=rbf;, score=0.598 total time=   0.0s
[CV 4/5] END ...................C=1, kernel=rbf;, score=0.631 total time=   0.0s
[CV 5/5] END ...................C=1, kernel=rbf;, score=0.673 total time=   0.0s
[CV 1/5] END ...............C=10, kernel=linear;, score=0.549 total time=   0.1s
[CV 2/5] END ...............C=10, kernel=linear;, score=0.584 total time=   0.1s
[CV 3/5] END ...............C=10, kernel=linear;, score=0.565 total time=   0.1s
[CV 4/5] END ...............C=10, kernel=linear;, score=0.598 total time=   0.1s
[CV 5/5] END ...............C=10, kernel=linear;, score=0.664 total time=   0.1s
[CV 1/5] END ..................C=10, kernel=rbf;, score=0.609 total time=   0.0s
[CV 2/5] END ..................C=10, kernel=rbf;, score=0.617 total time=   0.0s
[CV 3/5] END ..................C=10, kernel=rbf;, score=0.579 total time=   0.0s
[CV 4/5] END ..................C=10, kernel=rbf;, score=0.640 total time=   0.0s
[CV 5/5] END ..................C=10, kernel=rbf;, score=0.687 total time=   0.0s
[CV 1/5] END ..............C=100, kernel=linear;, score=0.553 total time=   1.3s
[CV 2/5] END ..............C=100, kernel=linear;, score=0.584 total time=   1.0s
[CV 3/5] END ..............C=100, kernel=linear;, score=0.561 total time=   1.8s
[CV 4/5] END ..............C=100, kernel=linear;, score=0.603 total time=   0.7s
[CV 5/5] END ..............C=100, kernel=linear;, score=0.664 total time=   2.3s
[CV 1/5] END .................C=100, kernel=rbf;, score=0.586 total time=   0.0s
[CV 2/5] END .................C=100, kernel=rbf;, score=0.589 total time=   0.0s
[CV 3/5] END .................C=100, kernel=rbf;, score=0.579 total time=   0.0s
[CV 4/5] END .................C=100, kernel=rbf;, score=0.631 total time=   0.0s
[CV 5/5] END .................C=100, kernel=rbf;, score=0.636 total time=   0.0s

GridSearchCV(estimator=SVC(),
             param_grid={'C': [1, 10, 100], 'kernel': ('linear', 'rbf')},
             verbose=3)

In [28]:
# >>> from sklearn import svm, datasets
# >>> from sklearn.model_selection import GridSearchCV
# >>> iris = datasets.load_iris()
# >>> parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}
# >>> svc = svm.SVC()
# >>> clf = GridSearchCV(svc, parameters)
# >>> clf.fit(iris.data, iris.target)
# GridSearchCV(estimator=SVC(),
#              param_grid={'C': [1, 10], 'kernel': ('linear', 'rbf')})
# >>> sorted(clf.cv_results_.keys())
# ['mean_fit_time', 'mean_score_time', 'mean_test_score',...
#  'param_C', 'param_kernel', 'params',...
#  'rank_test_score', 'split0_test_score',...
#  'split2_test_score', ...
#  'std_fit_time', 'std_score_time', 'std_test_score']

In [29]:
x_test_std = scaler.transform(X_test)

In [30]:
grid_predictions = grid.predict(x_test_std)
  
# print classification report
print(accuracy_score(y_test, grid_predictions))   #accuracy_score(y_test,y_predict2)

0.615530303030303

In [31]:
 sorted(grid.cv_results_.keys())

['mean_fit_time',
 'mean_score_time',
 'mean_test_score',
 'param_C',
 'param_kernel',
 'params',
 'rank_test_score',
 'split0_test_score',
 'split1_test_score',
 'split2_test_score',
 'split3_test_score',
 'split4_test_score',
 'std_fit_time',
 'std_score_time',
 'std_test_score']

In [32]:
print("Tuned Logistic Regression Parameters: {}".format(grid.best_params_))
print("Best score is {}".format(grid.best_score_))

Tuned Logistic Regression Parameters: {'C': 10, 'kernel': 'rbf'}
Best score is 0.6265333623125408